* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}
body {
	font-family: Arial;
	background-color: #3498DB;
	padding: 20px;
}
.login {
	margin: 10% auto;
	width: 100%;
	max-width: 700px;
	min-width: 300px;
}
.login-screen {
	text-align:center;
	width:	100%;
	max-width: 700px;
	min-width: 200px;	/* Not sure how to correctly do the minimum width. This doesn't do what I want it to do
							I want it to behave like min-height does*/
	height: 75%;
	max-height: 400px;
	min-height: 340px;
	background-color: #FFF;
	padding: 20px;				/* Maybe change this one to percent*/
	border-radius: 15px;
}

.app-title {
	text-align: center;
	color: #777;
}

.login-form {
	text-align: center;
}
.control-group {
	margin-bottom: 10px;		/* Not sure how to get the confirm password with proper spacing below the regular password
									I think that the change needs to be made here*/

}

input {
	text-align: center;
	background-color: #ECF0F1;
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 200;
	padding: 10px;
	width: 100%;
	max-width: 700px;
	transition: border .5s;
}

input:focus {
	border: 2px solid #3498DB;
	box-shadow: none;
}

.btn {
	border: 2px solid transparent;
	background: #000;
	color: #ffffff;
	font-size: 16px;
	line-height: 25px;
	padding: 10px ;
	text-decoration: none;
	text-shadow: none;
	border-radius: 3px;
	box-shadow: none;
	transition: 0.25s;
	display: block;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}

.btn:hover {
	background-color: #2980B9;
}

/*.login-link {
	font-size: 12px;
	color: #444;
	display: block;
	margin-top: 12px;
}*/


.makeAccount {
	border: 2px solid transparent;
	background: #000;
	color: #ffffff;
	font-size: 16px;
	line-height: 25px;
	padding: 10px ;
	padding-top: 10px;
	text-decoration: none;
	text-shadow: none;
	border-radius: 3px;
	box-shadow: none;
	transition: 0.25s;
	display: block;
	width: 100%;
	max-width: 700px;
	margin: 10px auto;
}

.makeAccount:hover {
	background-color: #2980B9;
}



.createAccount {
	margin: 10% auto;
	width: 100%;
	max-width: 700px;
}

.createAccount-screen {
	text-align:center;
	width: 100%;
	max-width: 700px;
	min-width: 200px;
	height: 75%;
	max-height: 700px;
	min-height: 240px;
	background-color: #FFF;
	padding: 2%;
	border-radius: 15px;
}
