<!DOCTYPE HTML>

<link href="MattStyle.css" type="text/css" rel="stylesheet">
<meta name=viewport content="width=device-width, initial-scale=1, user-scalable=yes">
<form action="/mainScreen" method="POST">
	<div class="mainScreen">
		<div class="mainScreen-screen">
			<div class="app-title">
				<h1>Create an account</h1>
			</div>
			<div class="mainScreen-form">
				<div class="control-group">
					<input type="text" class="mainScreen-field" value="" placeholder="First.Last@colorado.edu" name="username">
					<label class="mainScreen-field-icon fui-user" for="mainScreen-name"></label>
				</div>

				<div class="control-group">
					<input type="password" class="mainScreen-field" value="" placeholder="password" name="password">
					<label class="mainScreen-field-icon fui-lock" for="mainScreen-pass"></label>
				</div>

				<input type="submit" value=" Create Account" class="makeAccount btn-primary btn-large btn-block" >
				<br>
			</div>
		</div>
	</div>
</form>
